<footer class="footer3_component">
        <div class="padding-global">
          <div class="container-xlarge">
            <div class="padding-vertical padding-xxlarge">
              <div class="padding-bottom padding-xxlarge">
                <div class="w-layout-grid footer3_top-wrapper">
                  <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b01237-00b01231" class="footer3_heading-wrapper">
                    <div class="heading-style-h3">{{ 'tn66c52d46' | t }}</div>
                    <div class="heading-style-h5">{{ 'tnce2714e' | t }}</div>
                  </div>
                  <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b0123d-00b01231" class="footer3_button-list">
                    <a href="#" class="button is-white is-smaller w-button">{{ 'tn3ec6ebe8' | t }}</a>
                    <a href="#" class="button is-white is-smaller w-button">{{ 't5719179a' | t }}</a>
                  </div>
                  <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b01242-00b01231" class="w-layout-grid footer3_menu-wrapper">
                    <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b01243-00b01231" class="footer3_link-list">
                      <a href="#" class="footer3_link">{{ 't7022e774' | t }}</a>
                      <a href="#" class="footer3_link">{{ 'tn5c5d602' | t }}</a>
                      <a href="#" class="footer3_link">{{ 'tn1342a231' | t }}</a>
                    </div>
                    <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b0124a-00b01231" class="footer3_link-list">
                      <a href="#" class="footer3_link">{{ 't44a00e5e' | t }}</a>
                      <a href="#" class="footer3_link">{{ 't411f9d39' | t }}</a>
                    </div>
                  </div>
                  <div id="w-node-dbe27fe4-7540-87a9-1af7-e347d19e73ef-00b01231" class="w-layout-grid footer3_menu-wrapper">
                    <div id="w-node-dbe27fe4-7540-87a9-1af7-e347d19e73f0-00b01231" class="footer3_social-link-list">
                      <a href="#" class="footer3_social-link w-inline-block"><img src="{{ 'instagram_logo_2016-1.webp' | asset_url }}" loading="lazy" alt=""></a>
                      <a href="#" class="footer3_social-link w-inline-block"><img src="{{ 'tiktok-app-icon-1.webp' | asset_url }}" loading="lazy" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-divider"></div>
              <div class="padding-top padding-medium">
                <div class="footer3_bottom-wrapper">
                  <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b01252-00b01231">
                    <div class="footer3_credit-text text-style-allcaps">{{ 't1fa613d2' | t }}</div>
                  </div>
                  <div id="w-node-_8a4b3c70-0ee2-f854-8059-c5e800b01255-00b01231" class="w-layout-grid footer3_policies-list">
                    <a href="#" class="footer3_legal-link">{{ 'tn464b8f49' | t }}</a>
                    <a href="#" class="footer3_legal-link">{{ 't243e72d4' | t }}</a>
                    <a href="#" class="footer3_legal-link">{{ 'tn3fbde6f6' | t }}</a>
                    <a href="#" class="footer3_legal-link">{{ 'tn7fe2d65b' | t }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>