<div class="w-layout-grid instagram_component">
                  <div class="w-layout-grid instagram_row">
                    <div class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.50.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_2523ada3-ee5b-a8ef-6d9a-2d54370a0864-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51-1.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_2523ada3-ee5b-a8ef-6d9a-2d54370a086b-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_2523ada3-ee5b-a8ef-6d9a-2d54370a0872-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.52.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_2523ada3-ee5b-a8ef-6d9a-2d54370a0879-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-13-at-19.38-2.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51-1.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid instagram_row">
                    <div class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.50.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-ab5aa60d-10c4-888b-c6e3-d9abf957e770-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51-1.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-ab5aa60d-10c4-888b-c6e3-d9abf957e777-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-ab5aa60d-10c4-888b-c6e3-d9abf957e77e-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.52.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-ab5aa60d-10c4-888b-c6e3-d9abf957e785-370a085b" class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-13-at-19.38-2.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="instagram_slide">
                      <div class="gallery4_image-wrapper"><img src="{{ 'screenshot-2023-11-12-at-21.51-1.webp' | asset_url }}" loading="eager" alt="" class="gallery4_image">
                        <div class="gallery4_text">
                          <div class="text-color-white">
                            <div>{{ 't430cf891' | t }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>