{% capture listItems %}
{% for item in collections[settings.collection_home].products limit: settings.collection_home_limit %}
<div role="listitem" class="w-dyn-item">
                          <div class="layout1_content">
                            <h2 class="heading-style-h4 text-style-allcaps">{{ item.title }}</h2>
                            <div data-commerce-type="variation-price">{{ item.price | money }}</div>
                            <div>
                              {%- form "product", item, data-node-type: "commerce-add-to-cart-form", class: "w-commerce-commerceaddtocartform" -%}{%- unless item.has_only_default_variant or product.variants.size == 1 -%}<div data-node-type="add-to-cart-option-list" position-id="65a0825a-245c-314c-929f-f415d73f56ee" template-part-bind="65a0825a-245c-314c-929f-f415d73f56ee">{%- for option in item.options_with_values -%}<fieldset data-node-type="add-to-cart-option" template-part-bind="65a0825a-245c-314c-929f-f415d73f56ef" style="{% if item.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"><label data-node-type="add-to-cart-option-label" template-part-bind="65a0825a-245c-314c-929f-f415d73f56f0">{{ option.name }}</label><select data-node-type="add-to-cart-option-select" class="w-select" style="display: none;" name="{{ "option" | append: forloop.index }}">{%- render "product-options", option: option -%}</select><div data-node-type="add-to-cart-option-pill-group" class="w-commerce-commerceaddtocartoptionpillgroup" aria-label="{{ "option" | append: forloop.index  }}">{%- for value in option.values -%}<div data-node-type="add-to-cart-option-pill" class="w-commerce-commerceaddtocartoptionpill" data-option-name="{{ value | handle }}"><div data-node-type="block" template-part-bind="65a0825a-245c-314c-929f-f415d73f56f4">{{ value }}</div></div>{%- endfor -%}</div></fieldset>{%- endfor -%}</div>{%- endunless -%}{%- assign condition_value = item.type | strip -%}{%- unless condition_value == "e348fd487d0102946c9179d2a94bb613" -%}<label for="quantity-7438d86dac1ca2b79cc61244bb2b9b1d" position-id="65a0825a-245c-314c-929f-f415d73f56f5" class="w-password-page">Quantity</label>{%- endunless -%}{%- assign condition_value = item.type | strip -%}{%- unless condition_value == "e348fd487d0102946c9179d2a94bb613" -%}<input type="number" pattern="^[0-9]+$" inputmode="numeric" id="quantity-7438d86dac1ca2b79cc61244bb2b9b1d" name="quantity" min="1" position-id="65a0825a-245c-314c-929f-f415d73f56f7" class="w-commerce-commerceaddtocartquantityinput" value="1">{%- endunless -%}<input type="submit" position-id="65a0825a-245c-314c-929f-f415d73f56f8" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart_button" value="Add to Cart">{%- render "product-variants-data" product: item -%}{%- endform -%}
                              <div style="display:none" class="w-commerce-commerceaddtocartoutofstock" tabindex="0">
                                <div>This product is out of stock.</div>
                              </div>
                              <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                              </div>
                            </div>
                            <div class="spacer-small"></div>
                            <p class="text-size-medium">{{ item.metafields.udesly['description'] }}</p>
                          </div>
                        </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div id="w-node-bdd2dad1-d69f-a768-14f3-dfc6e8a6db91-188c2ac9" class="hide w-dyn-list" udy-collection="product">
                      {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
                        {{ listItems }}
                      </div>{%- endunless -%}
                      {%- if items_length == 0 -%}<div class="w-dyn-empty">
                        <div>No items found.</div>
                      </div>{%- endif -%}
                    </div>