{% capture listItems %}
{% for item in collections[settings.collection_3_shop].products limit: settings.collection_3_shop_limit %}
<div role="listitem" class="w-dyn-item">
                      <div class="add-to-cart">
                        {%- form "product", item, data-node-type: "commerce-add-to-cart-form", class: "w-commerce-commerceaddtocartform default-state" -%}
                          {%- unless item.has_only_default_variant or product.variants.size == 1 -%}<div data-node-type="add-to-cart-option-list" position-id="8bf1bc77-1f0b-be93-6517-e9ca7e34a668" template-part-bind="8bf1bc77-1f0b-be93-6517-e9ca7e34a668">{%- for option in item.options_with_values -%}<fieldset data-node-type="add-to-cart-option" template-part-bind="8bf1bc77-1f0b-be93-6517-e9ca7e34a669" style="{% if item.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"><label data-node-type="add-to-cart-option-label" template-part-bind="8bf1bc77-1f0b-be93-6517-e9ca7e34a66a">{{ option.name }}</label><select data-node-type="add-to-cart-option-select" class="w-select" style="display: none;" name="{{ "option" | append: forloop.index }}">{%- render "product-options", option: option -%}</select><div data-node-type="add-to-cart-option-pill-group" class="w-commerce-commerceaddtocartoptionpillgroup" aria-label="{{ "option" | append: forloop.index  }}">{%- for value in option.values -%}<div data-node-type="add-to-cart-option-pill" class="w-commerce-commerceaddtocartoptionpill" data-option-name="{{ value | handle }}"><div data-node-type="block" template-part-bind="8bf1bc77-1f0b-be93-6517-e9ca7e34a66e">{{ value }}</div></div>{%- endfor -%}</div></fieldset>{%- endfor -%}</div>{%- endunless -%}<div position-id="ef2d7cbf-d852-8bc0-f1d7-3a1376866eea" class="quantity_wrapper">{%- assign condition_value = item.type | strip -%}{%- unless condition_value == "e348fd487d0102946c9179d2a94bb613" -%}<label for="quantity-7438d86dac1ca2b79cc61244bb2b9b1d" class="hide w-password-page">Quantity</label>{%- endunless -%}
                            <div class="text-size-medium text-weight-medium">ADD 2 &nbsp;👯 GET £2 OFF 💸</div>{%- assign condition_value = item.type | strip -%}{%- unless condition_value == "e348fd487d0102946c9179d2a94bb613" -%}<input type="number" pattern="^[0-9]+$" inputmode="numeric" id="quantity-7438d86dac1ca2b79cc61244bb2b9b1d" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput quantity" value="1">{%- endunless -%}
                          </div>
                          <div position-id="dacb6685-87f8-6e46-63cf-1b9048c7291a" class="spacer-small"></div><input type="submit" position-id="8bf1bc77-1f0b-be93-6517-e9ca7e34a672" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart_button" value="Add to Cart">
                        {%- render "product-variants-data" product: item -%}{%- endform -%}
                        <div style="display:none" class="w-commerce-commerceaddtocartoutofstock" tabindex="0">
                          <div>This product is out of stock.</div>
                        </div>
                        <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                          <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                        </div>
                      </div>
                    </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="hide w-dyn-list" udy-collection="product">
                  {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
                    {{ listItems }}
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>{%- endif -%}
                </div>