<div class="floating-nav_wrapper pointer-events-off">
        <div class="nav pointer-events-on">
          <div class="nav-buttons_wrapper">
            <div id="hamburger" gsap-button-2="true" class="hamburger-button">
              <div class="hamburger-line"></div>
              <div class="hamburger-line"></div>
              <div class="hamburger-line"></div>
              <div class="hover-effect-background is-small-button"></div>
            </div>
            <div class="middle-button_wrapper">
              <a id="navbar-main-button" gsap-button="true" href="#" class="button drop-shadow w-inline-block">
                <div class="button-text_wrapper">
                  <div class="button-text_mover">
                    <div class="button-text">{{ 'tn4e841753' | t }}</div>
                    <div class="button-text is-secondary">{{ 'tn4e841753' | t }}</div>
                  </div>
                </div>
                <div class="hover-effect-background"></div>
              </a>
            </div>
            <div id="cart-button" class="button is-cart drop-shadow">
              <div class="icon-embed-custom w-embed">
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30" width="100%" height="100%">
                  <defs>
                    <style>
      .cls-1 {
        fill: #31261d;
        stroke-width: 0px;
      }
    </style>
                  </defs>
                  <path class="cls-1" d="M26.2432,11.3584c-.1914-1.915-1.7871-3.3584-3.7119-3.3584h-1.5371v-1.6875c0-2.7539-2.2402-4.9941-4.9941-4.9941s-4.9941,2.2402-4.9941,4.9941v1.6875h-1.5371c-1.9248,0-3.5205,1.4434-3.7119,3.3584l-1.4512,14.5371c-.1045,1.0459.2393,2.0938.9453,2.873.7051.7803,1.7139,1.2275,2.7656,1.2275h15.9668c1.0518,0,2.0605-.4473,2.7656-1.2275.7061-.7793,1.0498-1.8271.9453-2.873l-1.4512-14.5371ZM13.0059,6.3125c0-1.6514,1.3428-2.9941,2.9941-2.9941s2.9941,1.3428,2.9941,2.9941v1.6875h-5.9883v-1.6875ZM25.2656,27.4268c-.332.3672-.7871.5693-1.2822.5693h-15.9668c-.4951,0-.9502-.2021-1.2822-.5693-.332-.3662-.4883-.8398-.4385-1.332l1.4512-14.5371c.0889-.8877.8291-1.5576,1.7217-1.5576h1.5371v2c0,.5527.4473,1,1,1s1-.4473,1-1v-2h5.9883v2c0,.5527.4473,1,1,1s1-.4473,1-1v-2h1.5371c.8926,0,1.6328.6699,1.7217,1.5576l1.4512,14.5371c.0498.4922-.1064.9658-.4385,1.332Z"></path>
                </svg>
              </div>
            </div>
            <div class="cart-add-lottie"></div>
          </div>
          <div class="nav-links_center">
            <div class="nav-links_wrapper">
              <div class="nav-background"></div>
              <div class="nav-links_list">
                <div id="close-nav" gsap="scale-up" class="close-nav w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3358 7.7789C24.1168 8.55995 24.1168 9.82628 23.3358 10.6073L10.6079 23.3352C9.82682 24.1163 8.56048 24.1163 7.77944 23.3352C6.99839 22.5542 6.99839 21.2879 7.77944 20.5068L20.5074 7.7789C21.2884 6.99785 22.5547 6.99785 23.3358 7.7789Z" fill="currentColor"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3341 23.3353C22.5531 24.1163 21.2868 24.1163 20.5057 23.3353L7.77779 10.6074C6.99674 9.82633 6.99674 8.56 7.77779 7.77895C8.55884 6.9979 9.82517 6.9979 10.6062 7.77895L23.3341 20.5069C24.1152 21.2879 24.1152 22.5542 23.3341 23.3353Z" fill="currentColor"></path>
                  </svg></div>
                <a gsap-button="true" href="{{ pages["shop"].url }}" class="nav-button w-inline-block">
                  <div class="button-text_wrapper">
                    <div class="button-text_mover">
                      <div class="button-text">{{ 'tn10d29e89' | t }}</div>
                      <div class="button-text is-secondary">{{ 'tn10d29e89' | t }}</div>
                    </div>
                  </div>
                  <div class="hover-effect-background"></div>
                </a>
                <a gsap-button="true" href="{{ pages["recipes"].url }}" class="nav-button w-inline-block">
                  <div class="button-text_wrapper">
                    <div class="button-text_mover">
                      <div class="button-text">{{ 't37c2f7b6' | t }}</div>
                      <div class="button-text is-secondary">{{ 't37c2f7b6' | t }}</div>
                    </div>
                  </div>
                  <div class="hover-effect-background"></div>
                </a>
                <a gsap-button="true" href="#" class="nav-button w-inline-block">
                  <div class="button-text_wrapper">
                    <div class="button-text_mover">
                      <div class="button-text">{{ 't596f4a0e' | t }}</div>
                      <div class="button-text is-secondary">{{ 't596f4a0e' | t }}</div>
                    </div>
                  </div>
                  <div class="hover-effect-background"></div>
                </a>
                <a gsap-button="true" href="{{ routes.root_url }}" aria-current="page" class="nav-button w-inline-block w--current">
                  <div class="button-text_wrapper">
                    <div class="button-text_mover">
                      <div class="button-text">{{ 't2268ff' | t }}</div>
                      <div class="button-text is-secondary">{{ 't2268ff' | t }}</div>
                    </div>
                  </div>
                  <div class="hover-effect-background"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="cart-links_center">
            <div class="cart-links_wrapper">
              <div class="cart-background"></div>
              <div class="cart-links_list">
                <div class="cart-top_layout">
                  <div class="text-weight-medium">{{ 't3c0b970' | t }}<span cart="quantity" class="cart-top_quantity">{{ 't31' | t }}</span>{{ 't29' | t }}</div>
                  <div id="close-cart" gsap="scale-up" class="close-nav w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3358 7.7789C24.1168 8.55995 24.1168 9.82628 23.3358 10.6073L10.6079 23.3352C9.82682 24.1163 8.56048 24.1163 7.77944 23.3352C6.99839 22.5542 6.99839 21.2879 7.77944 20.5068L20.5074 7.7789C21.2884 6.99785 22.5547 6.99785 23.3358 7.7789Z" fill="currentColor"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3341 23.3353C22.5531 24.1163 21.2868 24.1163 20.5057 23.3353L7.77779 10.6074C6.99674 9.82633 6.99674 8.56 7.77779 7.77895C8.55884 6.9979 9.82517 6.9979 10.6062 7.77895L23.3341 20.5069C24.1152 21.2879 24.1152 22.5542 23.3341 23.3353Z" fill="currentColor"></path>
                    </svg></div>
                </div>
                <div class="spacer-small"></div>
                <div class="cart-items_layout-template">
                  <div class="cart-item">
                    <div class="cart-item_image-and-title"><img cart-item="image" class="cart-item_image" src="{{ '0_0300.webp' | asset_url }}" alt="" loading="lazy">
                      <div class="cart-item_title-and-quantity_layout">
                        <div cart-item="title" class="text-weight-medium text-style-allcaps">{{ 'tn8590e8' | t }}</div>
                        <div class="text-style-allcaps">{{ 'tc44ab88' | t }}</div>
                        <div class="quantity-buttons_layout">
                          <a href="#" class="quantity-button_link w-inline-block">
                            <div quantity-button="subtract" class="quantity-button w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 26 26" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M9.83952 13.5861V12.3227H15.8203V13.5861H9.83952Z" fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.946319 13C0.946319 19.6479 6.24234 25.037 12.7753 25.037C19.3083 25.037 24.6043 19.6479 24.6043 13C24.6043 6.35213 19.3083 0.962963 12.7753 0.962963C6.24234 0.962963 0.946319 6.35213 0.946319 13ZM12.7753 0C5.7197 0 0 5.8203 0 13C0 20.1797 5.7197 26 12.7753 26C19.8309 26 25.5506 20.1797 25.5506 13C25.5506 5.8203 19.8309 0 12.7753 0Z" fill="currentColor"></path>
                              </svg></div>
                          </a>
                          <div cart-item="quantity" class="quantity-number">{{ 't31' | t }}</div>
                          <a href="#" class="quantity-button_link w-inline-block">
                            <div quantity-button="add" class="quantity-button w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 26 26" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M12.2623 9.24205H13.7764V12.4776H16.9409V14.0183H13.7764V17.2385H12.2623V14.0183H9.08267V12.4776H12.2623V9.24205Z" fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.946316 13C0.946316 19.6479 6.24234 25.037 12.7753 25.037C19.3083 25.037 24.6043 19.6479 24.6043 13C24.6043 6.35213 19.3083 0.962963 12.7753 0.962963C6.24234 0.962963 0.946316 6.35213 0.946316 13ZM12.7753 0C5.7197 0 0 5.8203 0 13C0 20.1797 5.7197 26 12.7753 26C19.8309 26 25.5506 20.1797 25.5506 13C25.5506 5.8203 19.8309 0 12.7753 0Z" fill="currentColor"></path>
                              </svg></div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div cart-item="price" class="text-weight-medium">{{ 't91392f8' | t }}</div>
                  </div>
                </div>
                <div class="cart-items_layout"></div>
                <div class="spacer-large"></div>
                <div class="sub-total_layout">
                  <div class="text-size-regular text-style-allcaps">{{ 't7ab2d24' | t }}</div>
                  <div cart="total" class="text-weight-medium">{{ 't91392f8' | t }}</div>
                </div>
                <div class="cart-links_layout">
                  <a gsap-button="true" href="{{ routes.root_url }}" aria-current="page" class="button w-inline-block w--current">
                    <div class="button-text_wrapper">
                      <div class="button-text_mover">
                        <div class="button-text">{{ 't5f75b166' | t }}</div>
                        <div class="button-text is-secondary">{{ 't5f75b166' | t }}</div>
                      </div>
                    </div>
                    <div class="hover-effect-background"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="cart-popup-links_center">
            <div class="cart-popup-links_wrapper">
              <div class="cart-popup-background"></div>
              <div class="cart-popup-links_list">
                <div id="close-cart-popup" gsap="scale-up" class="close-nav w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3358 7.7789C24.1168 8.55995 24.1168 9.82628 23.3358 10.6073L10.6079 23.3352C9.82682 24.1163 8.56048 24.1163 7.77944 23.3352C6.99839 22.5542 6.99839 21.2879 7.77944 20.5068L20.5074 7.7789C21.2884 6.99785 22.5547 6.99785 23.3358 7.7789Z" fill="currentColor"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3341 23.3353C22.5531 24.1163 21.2868 24.1163 20.5057 23.3353L7.77779 10.6074C6.99674 9.82633 6.99674 8.56 7.77779 7.77895C8.55884 6.9979 9.82517 6.9979 10.6062 7.77895L23.3341 20.5069C24.1152 21.2879 24.1152 22.5542 23.3341 23.3353Z" fill="currentColor"></path>
                  </svg></div>
                <div class="cart-popup-item">
                  <div class="cart-item_image-and-title"><img src="{{ '0_0300.webp' | asset_url }}" loading="lazy" alt="" class="cart-item_image">
                    <div class="cart-item_image-and-title_shift-down">
                      <div popup="title" class="text-weight-medium">{{ 'tn8590e8' | t }}</div>
                      <div>{{ 'tc44ab88' | t }}</div>
                    </div>
                  </div>
                  <div popup="price" class="text-weight-medium">{{ 't91392f8' | t }}</div>
                </div>
                <div class="spacer-small"></div>
                <div class="cart-popup-links_layout">
                  <a function="open-cart" gsap-button="true" href="#" class="button is-card-item w-inline-block">
                    <div class="button-text_wrapper">
                      <div class="button-text_mover">
                        <div class="button-text">{{ 't3f05adad' | t }}</div>
                        <div class="button-text is-secondary text-color-black">{{ 't3f05adad' | t }}</div>
                      </div>
                    </div>
                    <div class="hover-effect-background"></div>
                  </a>
                  <a gsap-button="true" href="#" class="button is-card-add-to-cart w-inline-block">
                    <div class="button-text_wrapper">
                      <div class="button-text_mover">
                        <div class="button-text">{{ 't5f75b166' | t }}</div>
                        <div class="button-text is-secondary">{{ 't2268ff' | t }}</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>