<div class="scrolling-text_list">
                    <div id="w-node-_6c56d227-c521-a1e4-4156-4d6dc230db8a-c230db89" class="scrolling-text_wrapper">
                      <div class="heading-style-h2">{{ 'tn535b8f9f' | t }}</div>
                    </div>
                    <div class="scrolling-text_wrapper">
                      <div class="heading-style-h2">{{ 't7836a540' | t }}</div>
                    </div>
                    <div class="scrolling-text_wrapper">
                      <div class="heading-style-h2">{{ 't28ce2909' | t }}</div>
                    </div>
                    <div class="scrolling-text_wrapper">
                      <div class="heading-style-h2">{{ 'tn4b747386' | t }}</div>
                    </div>
                    <div class="scrolling-text_wrapper">
                      <div class="heading-style-h2">{{ 't1baa4f68' | t }}</div>
                    </div>
                  </div>