{%- assign headerSnippetPath = "header-password" -%}{%- assign wfPage = "6578778a56e275fe188c2acb" -%}{%- assign bodyClasses = "" -%}
  <div class="utility-page_component">
    <div class="utility-page_form-block w-form"><img src="https://d3e54v103j8qbb.cloudfront.net/static/page-not-found.211a85e40c.svg" alt="" class="utility-page_image">
      <h3>{{ 'tn40b0787c' | t }}</h3>
      <div>{{ 't556d64d8' | t }}</div>
      <a href="{{ routes.root_url }}" class="button w-button">{{ 't6b29b517' | t }}</a>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6571a5766b38a3291e605413" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- <script type = "module" src = "http://localhost:3000/src/main.js" ></script> -->
  <!-- <script type = "module" src = "https://main--timely-biscochitos-45aa17.netlify.app/main.js" ></script> -->
  <script>
(function () {
    const LOCALHOST_URL = [
    	'http://localhost:3000/@vite/client',
      'http://localhost:3000/src/main.js',
    ]
    const PROD_URL = ['https://main--timely-biscochitos-45aa17.netlify.app/main.js']
    function createScripts(arr, isDevMode) {
      return arr.map(function (url) {
        const s = document.createElement('script')
        s.src = url
        if (isDevMode) {
          s.type = 'module'
        }
        return s
      })
    }
    function insertScript(scriptArr) {
      scriptArr.forEach(function (script) {
        document.body.appendChild(script)
      })
    }
    const localhostScripts = createScripts(LOCALHOST_URL, true)
    const prodScripts = createScripts(PROD_URL, true)
    let choosedScripts = null
    fetch(LOCALHOST_URL[0], {})
      .then(() => {
        choosedScripts = localhostScripts
      })
      .catch((e) => {
        choosedScripts = prodScripts
        console.error(e)
      })
      .finally(() => {
        if (choosedScripts) {
          insertScript(choosedScripts)
          return
        }
        console.error('something went wrong, no scripts loaded')
      })
  })() 
</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}