{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "6578778a56e275fe188c2ac9" -%}{%- assign bodyClasses = "body" -%}
  <div data-barba="wrapper" class="page-wrapper navbar-on-page">
    {%- render 'global-styles' -%}
    <div class="page-transition"></div>
    <div link-5="explore-the-sauce" link-1="explore-the-sauce" link-2="buy-now" link-3="checkout" link-4="add-to-cart" class="navbar-settings">
      {%- render 'navbar' -%}
    </div>
    <main data-barba-namespace="home" data-barba="container" class="main-wrapper max-width-full">
      <div class="overflow-hidden z-index-2">
        <div class="background-color-white">
          <header class="section_header30">
            <div class="padding-global">
              <div class="container-medium">
                <div class="header30_content">
                  <div class="padding-section-large">
                    <div class="text-align-center">
                      <h1 class="text-style-allcaps splt">{{ 't4c61f02' | t }}<br>{{ 't4cd7833' | t }}<br>{{ 't4c93ed0' | t }}</h1>
                    </div>
                  </div><img src="{{ 'pos-front-8.webp' | asset_url }}" loading="lazy" alt="" class="hero-bottle-image">
                </div>
              </div>
            </div>
            <div class="header30_background-image-wrapper">
              <div class="image-overlay-layer"></div><img src="{{ 'mask-group.webp' | asset_url }}" loading="eager" alt="" class="header30_background-image">
            </div>
          </header>
          {%- render 'scrolling-text-component' -%}
          <header class="section_header30">
            <div class="padding-global">
              <div class="container-medium">
                <div class="header30_content is-rounded">
                  <div class="padding-section-large">
                    <div class="text-align-center">
                      <h1 id="pourpourpour" class="text-color-white text-style-allcaps">{{ 't260cfc' | t }}<br>{{ 't260cfc' | t }}<br>{{ 't260cfc' | t }}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rounding_background-image-wrapper">
              <div class="image-overlay-layer"></div><img src="{{ 'koffiracha_08_fish-sandwich_jenna_gang_23_11_16_431_231122_v1-2.webp' | asset_url }}" loading="eager" alt="" class="header30_background-image">
            </div>
          </header>
          <section class="section_testimonial15">
            <div class="padding-global">
              <div class="spacer-huge"></div>
              <div data-delay="4000" data-animation="cross" class="testimonial15_component w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="testimonial15_mask w-slider-mask">
                  <div class="testimonial15_slide w-slide">
                    <div class="w-layout-grid testimonial15_content">
                      <div id="w-node-_6e0b8a0b-7347-332a-1243-39098738970e-188c2ac9" class="testimonial15_client-image-wrapper"><img src="{{ 'koffiracha_07_chicken-wrap_jenna_gang_23_11_16_112_231122_v1.webp' | asset_url }}" loading="lazy" alt="" class="testimonial15_client-image"></div>
                      <div id="w-node-_6e0b8a0b-7347-332a-1243-390987389710-188c2ac9" class="testimonial15_content-right">
                        <div class="max-width-xlarge">
                          <div class="heading-style-h2">{{ 't2b183e74' | t }}</div>
                        </div>
                        <div class="spacer-xlarge"></div>
                        <div class="testimonial_content-lower">
                          <div class="testimonial15_2-col">
                            <div class="testimonial15_client">
                              <div class="testimonial15_client-info">
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn3c35fb28' | t }}</p>
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn49828cb6' | t }}</p>
                              </div>
                              <div class="testimonial15_social-info">
                                <a href="#" class="social-info_link">{{ 't28346171' | t }}</a>
                              </div>
                            </div>
                            <div gsap="scale-up" fs-mirrorclick-element="trigger" class="arrow">
                              <div class="icon-embed-custom-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 39 38" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                  <path d="M18.5402 37.1818L15.194 34.1515L29.5921 21.1129L0.795898 21.1129L0.795899 16.8274H29.5262L15.194 3.84848L18.5402 0.818176L38.6178 19L18.5402 37.1818Z" fill="currentColor"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="spacer-xsmall"></div>
                          <div class="pseudo-progress-indicator_wrapper">
                            <div class="progress-dot active"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                          </div>
                          <div class="spacer-large"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial15_slide w-slide">
                    <div class="w-layout-grid testimonial15_content">
                      <div id="w-node-_4b44ec9a-0642-9be8-ea68-c256865a0ef7-188c2ac9" class="testimonial15_client-image-wrapper"><img src="{{ 'koffiracha_07_chicken-wrap_jenna_gang_23_11_16_112_231122_v1.webp' | asset_url }}" loading="lazy" alt="" class="testimonial15_client-image"></div>
                      <div id="w-node-_4b44ec9a-0642-9be8-ea68-c256865a0ef9-188c2ac9" class="testimonial15_content-right">
                        <div class="max-width-xlarge">
                          <div class="heading-style-h2">{{ 't2b183e74' | t }}</div>
                        </div>
                        <div class="spacer-xlarge"></div>
                        <div class="testimonial_content-lower">
                          <div class="testimonial15_2-col">
                            <div class="testimonial15_client">
                              <div class="testimonial15_client-info">
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn3c35fb28' | t }}</p>
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn49828cb6' | t }}</p>
                              </div>
                              <div class="testimonial15_social-info">
                                <a href="#" class="social-info_link">{{ 't28346171' | t }}</a>
                              </div>
                            </div>
                            <div gsap="scale-up" fs-mirrorclick-element="trigger" class="arrow">
                              <div class="icon-embed-custom-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 39 38" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                  <path d="M18.5402 37.1818L15.194 34.1515L29.5921 21.1129L0.795898 21.1129L0.795899 16.8274H29.5262L15.194 3.84848L18.5402 0.818176L38.6178 19L18.5402 37.1818Z" fill="currentColor"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="spacer-xsmall"></div>
                          <div class="pseudo-progress-indicator_wrapper">
                            <div class="progress-dot"></div>
                            <div class="progress-dot active"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                          </div>
                          <div class="spacer-large"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial15_slide w-slide">
                    <div class="w-layout-grid testimonial15_content">
                      <div id="w-node-_04b16f44-a08a-5829-375b-9ff8671ca481-188c2ac9" class="testimonial15_client-image-wrapper"><img src="{{ 'koffiracha_07_chicken-wrap_jenna_gang_23_11_16_112_231122_v1.webp' | asset_url }}" loading="lazy" alt="" class="testimonial15_client-image"></div>
                      <div id="w-node-_04b16f44-a08a-5829-375b-9ff8671ca483-188c2ac9" class="testimonial15_content-right">
                        <div class="max-width-xlarge">
                          <div class="heading-style-h2">{{ 't2b183e74' | t }}</div>
                        </div>
                        <div class="spacer-xlarge"></div>
                        <div class="testimonial_content-lower">
                          <div class="testimonial15_2-col">
                            <div class="testimonial15_client">
                              <div class="testimonial15_client-info">
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn3c35fb28' | t }}</p>
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn49828cb6' | t }}</p>
                              </div>
                              <div class="testimonial15_social-info">
                                <a href="#" class="social-info_link">{{ 't28346171' | t }}</a>
                              </div>
                            </div>
                            <div gsap="scale-up" fs-mirrorclick-element="trigger" class="arrow">
                              <div class="icon-embed-custom-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 39 38" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                  <path d="M18.5402 37.1818L15.194 34.1515L29.5921 21.1129L0.795898 21.1129L0.795899 16.8274H29.5262L15.194 3.84848L18.5402 0.818176L38.6178 19L18.5402 37.1818Z" fill="currentColor"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="spacer-xsmall"></div>
                          <div class="pseudo-progress-indicator_wrapper">
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot active"></div>
                            <div class="progress-dot"></div>
                          </div>
                          <div class="spacer-large"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial15_slide w-slide">
                    <div class="w-layout-grid testimonial15_content">
                      <div id="w-node-_8852f1a0-6e52-a4a3-03c0-e42f2d4d36c2-188c2ac9" class="testimonial15_client-image-wrapper"><img src="{{ 'koffiracha_07_chicken-wrap_jenna_gang_23_11_16_112_231122_v1.webp' | asset_url }}" loading="lazy" alt="" class="testimonial15_client-image"></div>
                      <div id="w-node-_8852f1a0-6e52-a4a3-03c0-e42f2d4d36c4-188c2ac9" class="testimonial15_content-right">
                        <div class="max-width-xlarge">
                          <div class="heading-style-h2">{{ 't2b183e74' | t }}</div>
                        </div>
                        <div class="spacer-xlarge"></div>
                        <div class="testimonial_content-lower">
                          <div class="testimonial15_2-col">
                            <div class="testimonial15_client">
                              <div class="testimonial15_client-info">
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn3c35fb28' | t }}</p>
                                <p class="heading-style-h4 text-weight-medium">{{ 'tn49828cb6' | t }}</p>
                              </div>
                              <div class="testimonial15_social-info">
                                <a href="#" class="social-info_link">{{ 't28346171' | t }}</a>
                              </div>
                            </div>
                            <div gsap="scale-up" fs-mirrorclick-element="trigger" class="arrow">
                              <div class="icon-embed-custom-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 39 38" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                                  <path d="M18.5402 37.1818L15.194 34.1515L29.5921 21.1129L0.795898 21.1129L0.795899 16.8274H29.5262L15.194 3.84848L18.5402 0.818176L38.6178 19L18.5402 37.1818Z" fill="currentColor"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="spacer-xsmall"></div>
                          <div class="pseudo-progress-indicator_wrapper">
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot"></div>
                            <div class="progress-dot active"></div>
                          </div>
                          <div class="spacer-large"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial15_arrow is-left hide w-slider-arrow-left">
                  <div class="testimonial15_arrow-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z" fill="currentColor"></path>
                    </svg></div>
                </div>
                <div fs-mirrorclick-element="target" class="testimonial15_arrow hide w-slider-arrow-right">
                  <div class="testimonial15_arrow-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z" fill="currentColor"></path>
                    </svg></div>
                </div>
                <div class="testimonial15_slide-nav hide w-slider-nav w-slider-nav-invert w-round"></div>
              </div>
              <div class="spacer-xlarge"></div>
            </div>
          </section>
          <div class="section_dividing-line">
            <div class="padding-global">
              <div class="dividing-line-horizontal"></div>
            </div>
          </div>
          <div tr-scrollflip-scale="true" tr-scrollflip-element="component" class="floating-bottle-section_wrapper">
            <header scroll-trigger="buy-now" tr-scrollflip-scrubstart="top 40%" class="section_header30">
              <div class="padding-global">
                <div class="container-medium">
                  <div class="header30_content is-bottle-section">
                    <div class="padding-section-large">
                      <div class="text-align-center">
                        <div class="bottle-and-text_wrapper">
                          <h1 class="text-style-allcaps is-smaller z-index-1">{{ 't3f566603' | t }}</h1>
                          <div tr-scrollflip-element="origin" class="bottle-origin"><img src="{{ '0_0300.webp' | asset_url }}" loading="lazy" alt="" class="floating-bottle-image is-opacity-0"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header30_background-image-wrapper">
                <div class="image-overlay-layer"></div>
              </div>
            </header>
            <section tr-scrollflip-scrubend="top 20%" class="section_layout1">
              <div class="padding-global">
                <div class="container-xlarge">
                  <div class="padding-section-large">
                    {%- if settings.collection_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_name_eq_chilli_flame" -%}{%- endif -%}
                    {%- section 'featured-product-home-page' -%}
                  </div>
                </div>
              </div>
            </section>
          </div>
          <header scroll-trigger="add-to-cart" class="section_story-slider">
            <div class="container-full">
              <div revert-slider="true" class="header30_content is-story-section">
                <div story-slider="slider" class="story-slider_wrapper">
                  <div class="keen-slider__slide has-min-width">
                    <div class="padding-medium">
                      <h3 class="heading-style-h4 text-weight-medium text-style-allcaps">{{ 't45d2236d' | t }}</h3>
                      <div class="spacer-xsmall"></div>
                      <div class="heading-style-h5 text-weight-medium">{{ 't639c65fa' | t }}</div>
                      <div class="padding-huge"></div>
                    </div>
                  </div>
                  <div class="keen-slider__slide has-min-width">
                    <div class="padding-medium">
                      <div class="heading-style-h5 text-weight-medium">{{ 't639c65fa' | t }}</div>
                    </div>
                  </div>
                  <div class="keen-slider__slide has-min-width">
                    <div class="padding-medium">
                      <div class="heading-style-h5 text-weight-medium">{{ 't639c65fa' | t }}</div>
                    </div>
                  </div>
                  <div class="keen-slider__slide has-min-width">
                    <div class="padding-medium">
                      <div class="heading-style-h5 text-weight-medium">{{ 't639c65fa' | t }}</div>
                    </div>
                  </div>
                  <div class="keen-slider__slide has-min-width">
                    <div class="padding-medium">
                      <div class="heading-style-h5 text-weight-medium">{{ 't639c65fa' | t }}</div>
                    </div>
                  </div>
                  <div class="keen-slider__slide has-min-width"><img src="{{ 'koffiracha_05_burrito_jenna_gang_23_11_16_387_231129_v2.webp' | asset_url }}" loading="lazy" alt="" class="story-slider_slide-image"></div>
                </div>
                <div class="story-slider_arrow-wrapper">
                  <div gsap="scale-up" story-slider="arrow" element="RightArrow" class="arrow is-black">
                    <div class="icon-embed-custom-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 39 38" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                        <path d="M18.5402 37.1818L15.194 34.1515L29.5921 21.1129L0.795898 21.1129L0.795899 16.8274H29.5262L15.194 3.84848L18.5402 0.818176L38.6178 19L18.5402 37.1818Z" fill="currentColor"></path>
                      </svg></div>
                  </div>
                </div>
              </div>
            </div>
            <div story-slider="background" class="story-slider_background-image-wrapper no-select"><img src="{{ 'koffiracha_01_table_jenna_gang_23_11_16_477_231129_v2.webp' | asset_url }}" loading="eager" id="w-node-fb3c6ad4-2ef5-cded-b789-be5f33fc8346-188c2ac9" alt="" class="story-slider_background-image"></div>
          </header>
          <section revert-slider="true" class="section_gallery4">
            <div class="background-color-yellow drop-shadow-padding-fix">
              <div class="rounded-bottom-corners">
                <div class="padding-global">
                  <div class="container-xlarge">
                    <div class="spacer-xxlarge"></div>
                    <h2 class="text-style-allcaps">{{ 't6f1a9857' | t }}</h2>
                    <div class="spacer-xxlarge"></div>
                  </div>
                </div>
                {%- render 'ig-carousel' -%}
                <div class="spacer-xxlarge"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      {%- render 'footer' -%}
    </main>
    <div class="layout-grid pointer-events-off">
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
      <div class="layout-grid_column"></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6571a5766b38a3291e605413" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- <script type = "module" src = "http://localhost:3000/src/main.js" ></script> -->
  <!-- <script type = "module" src = "https://main--timely-biscochitos-45aa17.netlify.app/main.js" ></script> -->
  <script>
(function () {
    const LOCALHOST_URL = [
    	'http://localhost:3000/@vite/client',
      'http://localhost:3000/src/main.js',
    ]
    const PROD_URL = ['https://main--timely-biscochitos-45aa17.netlify.app/main.js']
    function createScripts(arr, isDevMode) {
      return arr.map(function (url) {
        const s = document.createElement('script')
        s.src = url
        if (isDevMode) {
          s.type = 'module'
        }
        return s
      })
    }
    function insertScript(scriptArr) {
      scriptArr.forEach(function (script) {
        document.body.appendChild(script)
      })
    }
    const localhostScripts = createScripts(LOCALHOST_URL, true)
    const prodScripts = createScripts(PROD_URL, true)
    let choosedScripts = null
    fetch(LOCALHOST_URL[0], {})
      .then(() => {
        choosedScripts = localhostScripts
      })
      .catch((e) => {
        choosedScripts = prodScripts
        console.error(e)
      })
      .finally(() => {
        if (choosedScripts) {
          insertScript(choosedScripts)
          return
        }
        console.error('something went wrong, no scripts loaded')
      })
  })() 
</script>
  <style>body.scrollflip-relative [tr-scrollflip-sticky=true] { position: relative; }</style>
  <!-- 
<script type = "module" src = "https://keen-slider-webflow.netlify.app/main.js"></script> -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}